<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- 尾部 -->
    <div
      class="col-md-12 col-sm-12"
      style="
        background: #d576ba;
        position: absolute;
        margin-top: 100px;
        bottom: auto;
        left: 0;
        right: 0;
        text-align: center;
      "
    >
      <p class="text-center" style="margin-top: 10px">
        微信：17725925722 &nbsp;&nbsp; QQ：1533266877
      </p>
      <p class="text-center">版权所有，翻录必揪</p>
    </div>
  </body>
</html>
